<div>
    <h2>{{title}}</h2>
    <h3>Created by {{user.name}} on {{format_date date_created}}</h3>
    <p>{{getParagraph1 content}}</p>
    <p>{{getParagraph2 content}}</p>


    {{#if logged_in}}
    <h3>Leave a comment!</h3>
    <form class="new-comment-form" id="{{id}}">
    <div class="mb-3">
        <label for="comment-input" class="form-label">Comment</label>
        <input type="text" class="form-control" id="comment-input" aria-describedby="comment-input">
    </div>
    <button type="submit" class="btn btn-primary">Submit My Comment</button>
    </form>
    {{else}}
    <h3><a href='/login'>Log in</a> to leave a comment!</h3>
    {{/if}}

    <h3>Comments:</h3>
    {{#each comments}} 
    <p>{{user.name}} on {{format_date date_created}} said: {{content}}</p>
    {{/each}}
</div>

<script src="/js/new-comment.js"></script>
