{{#each blogs as |blog|}}
<div>
    <h2><a href='/blog/{{blog.id}}'>{{blog.title}}</a><span>Created {{ format_date blog.date_created }}</span></h2>
    <p>{{getPreview blog.content}}</p>
    {{!-- I want this to be a button --}}
    <a href='/blog/{{blog.id}}'>Read Post</a>
</div>
{{/each}}

